* {
    margin: 0px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    inline-size: 1.5;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
   
}
h4 {
    color: #393d41;
    font-family: 'Open Sans', sans-serif;
    inline-size: 1.6;
}
p {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 400px;

}
.header{
background-color: black;
    height: 100px;
   
    display: flex;
    align-items: center ;
    justify-content: center ;
}

.corso {
    background-image: url("images/banner.jpg");
    background-size: 700px 450px;
    background-position: center;
    height: 350px;
    text-align: center;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}
input {
    background-color: #e22d0e;
    border-radius: 5px;
    height: 50px;
    width: 140px;
    font-size: larger;  
    font-family: 'Montserrat', sans-serif;
    border-style: hidden;
    margin: 1.2rem;
    color: white;
}

.main {
    background-color: white;
    text-align: center;
    padding-top: 11%;
    padding-bottom: 13%;

}

.testimonianze {
    background-color: #e22d0e;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}

.box1 {
    margin: 5%;
    margin-top: 10%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #dee1e3;
    width: 360px;
    height: 370px;
}
.box2 {
    margin: 5%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #dee1e3;
    width: 360px;
    height: 370px;
}
.box3 {
    margin: 5%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #dee1e3;
    width: 360px;
    height: 370px;
    margin-bottom: 10%;
}

.footer {
   background-color: #25a2c3;
    text-align: center;
    height: 350px;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    
}